.u-section-1 .u-sheet-1 {
  min-height: 693px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  margin: -20px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 723px;
  pointer-events: auto;
  margin-top: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 42px;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 211px;
  margin: 99px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: 28px 51px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 53px;
  height: 53px;
  margin: 0 134px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 55px;
  height: 55px;
  margin: -53px 69px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 596px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 70px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}